{% extends 'base.html.twig' %}

{% block title %}Gracias por tu compra - Bik-E-Commerce
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/css/thankyou.css') }}">
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<h2>Gracias por tu compra</h2>
			<p>Tu pedido ha sido procesado con éxito.</p>
			<a href="{{ path('app_homepage') }}">Volver a la página de inicio</a>
		</div>
	</main>
{% endblock %}
